<!DOCTYPE html> 
<html lang="en"> 
	<head>     
		<meta charset="UTF-8">     
		<meta name="viewport" content="width=device-width, initial-scale=1.0">     
		<meta http-equiv="X-UA-Compatible" content="ie=edge">     
		<title>Calorie Buddy | About</title>     
		<!-- External CSS file -->     
		<link rel="stylesheet" href="./main/main.css">     
		<link rel="stylesheet" href="./main/about.css">     
		<script src="./main/script.js" defer></script> 
	</head> 
	<body>     
		<div class="container about">         
			<section class="top">             
				<header>                 
					<nav>                     
						<a href="#" class="hamburger">
							<span class="bar"></span>
							<span class="bar"></span>
							<span class="bar"></span>
						</a>                     
						<div class="show-desktop-links">                         
							<ul class = "show-desktop" id = "nav">                                
								<li><a href="./">Home</a></li>                             
								<li><a href="./register">Register</a></li>                             
								<li><a href="./login">Login</a></li>                             
								<li><a href="./addfood">Add Food</a></li>                             
								<li><a href="./searchfood">Search Food</a></li>                             
								<li><a href="./updatefood">Update Food</a></li>                             
								<li><a href="./listfood">List Food</a></li>                             
								<li><a href="./api">API</a></li>                             
								<li><a href="./logout">Log Out</a></li>                         
							</ul>                     
						</div>                 
					</nav>                                  
					<h1><span>About Me</span> Syedur Rahman</h1>                 
					<p>I’m a second-year student at Goldsmiths University of London, pursuing a degree in Computer Science.                      
					I enjoy creating websites and applications.</p>                  
					<h1 class="about-heading">Everything you need to know about Calorie Buddy</h1>                 
					<p class="about-info">The purpose of the Calorie Buddy is to help you manage your diet by displaying                      
					nutritional facts including calories, carbs, fat, protein, salt, and sugar in a recipe                      
					based on food ingredients in the recipe.</p>             
				</header>         
			</section>     
		</div> 
	</body> 
</html>

