<!DOCTYPE html> 
<html lang="en"> 
	<head>     
		<meta charset="UTF-8">     
		<meta http-equiv="X-UA-Compatible" content="IE=edge">     
		<meta name="viewport" content="width=device-width, initial-scale=1.0">     
		<title>Calorie Buddy | Failed Update</title>     
		<link rel="stylesheet" href="./main/list.css">     
		<link rel="stylesheet" href="./main/main.css">     
		<link rel="stylesheet" href="./main/login.css"> 
	</head> 
	<body>     
		<div class="container list">         
			<div class="top">             
				<header class="listfood inner-listfood logout">                 
					<div class="list-container inner-listcontainer">
						<div class="inner-container">                     
							<h1 class="heading">Food Record Cannot Be Updated</h1>                     
							<div class="sum operations">                                                       
								<a class="button" href="./updatefood">Try Again</a>  
								<a class="button" href="./">Home</a>  
							</div> 
						</div>                
					</div>             
				</header>         
			</div>     
		</div> 
	</body> 
</html>
