<!DOCTYPE html> 
<html lang="en"> 
	<head>     
		<meta charset="UTF-8">     
		<meta name="viewport" content="width=device-width, initial-scale=1.0">     
		<meta http-equiv="X-UA-Compatible" content="ie=edge">     
		<title>Calorie Buddy</title>     
		<!-- External CSS file -->     
		<link rel="stylesheet" href="./main/main.css">     
		<script src="./main/script.js" defer></script> 
	</head> 
	<body>     
		<div class="container">         
			<section class="top">             
				<header>                  
					<nav>                     
						<a href="#" class="hamburger">
							<span class="bar"></span>
							<span class="bar"></span>
							<span class="bar"></span>
						</a>                     
						<div class="show-desktop-links">                         
							<ul class = "show-desktop" id = "nav">                                
								<li><a href="./about">About</a></li>                             
								<li><a href="./register">Register</a></li>                             
								<li><a href="./login">Login</a></li>                             
								<li><a href="./addfood">Add Food</a></li>                             
								<li><a href="./searchfood">Search Food</a></li>                             
								<li><a href="./updatefood">Update Food</a></li>                             
								<li><a href="./listfood">List Food</a></li>                             
								<li><a href="./api">API</a></li>                             
								<li><a href="./logout">Log Out</a></li>                         
							</ul>                     
						</div>                 
					</nav>                                  
					<h1><span>The Digital</span> Calorie Counter</h1>                 
					<p>Welcome to the Calorie Buddy Dynamic Web Application</p>             
				</header>         
			</section>     
		</div>      
		
		<section class="info">         
			<div class="right-col">             
				<h2 class="second-h2">Be Healthy for Life!</h2>             
					<p>The secret to successful weight loss is to burn more calories than you take in.                  
					Start managing your diet by using the Calorie Buddy to keep track of your                 
					calories.<br>Get started today!</p>         
			</div>         
			<img src="https://source.unsplash.com/bpPTlXWTOvg/1200x850" alt="Picture of Healthy Food">     
		</section> 
</body> 
</html>
